# =====================
# Java / Spring Boot
# =====================
target/
*.jar
*.war

# =====================
# Node / React
# =====================
node_modules/
dist/
build/

# =====================
# IntelliJ / IDE files
# =====================
.idea/
*.iml

# =====================
# Environment files
# =====================
.env

# =====================
# Logs
# =====================
*.log
